* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s;
}

.darkmode {
  background-color: #282727;
  color: #fff;
}

.img {
  width: 4.25em;
  height: 4.25em;
}

.img:hover {
  cursor: pointer;
}

.header {
  width: 95vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5em;
  color: #0E7DBC;
}

.title:hover {
  cursor: pointer;
}

[type="checkbox"]:hover {
  cursor: pointer;
}

[type="checkbox"] {
  appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid gray;
  border-radius: 1.25em;
  width: 4.25em;
  height: 2.13em;
  display: flex;
  justify-content: center;
  align-items: center;
}

[type="checkbox"]::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2.13em;
  height: 2.13em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: gray;
  transition: left 250ms linear;
}

[type="checkbox"]:checked {
  background-color: #0E7DBC;
  border-color: #0E7DBC;
}

[type="checkbox"]:checked::before {
  background-color: white;
  left: 2em;
}

.main {
  width: 95vw;
  height: auto; /* 변경된 부분: 높이를 자동으로 조정 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 90vw; /* 변경된 부분: 너비를 뷰포트 너비에 따라 조정 */
  max-width: 400px; /* 변경된 부분: 최대 너비 설정 */
  height: auto; /* 변경된 부분: 높이를 자동으로 조정 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form > .input {
  width: 90%; /* 변경된 부분: 백분율로 너비 설정 */
  height: 3em;
  padding: 12px;
  border-color: #0E7DBC;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1em;
  transition: 1s;
  color: #0E7DBC;
}

/* 나머지 CSS 속성은 변경되지 않았습니다. 필요에 따라 수정할 수 있습니다. */
